/* DEFAULT STYLES */
/* -----------------------------------------  */
body {
  font-family:'Open Sans', Arial;
}
h2 {
  font-size:16px;
}
h3 {
  font-size:12px;
}
div#headerSection {
  text-align:center;
}
div#results {
  /*  don't change anything here. Just copy and paste */
  max-width:1200px;
  margin:0 auto;
  margin-top:20px;
}

button {
  height:42px;
  padding-left:20px;
  padding-right:20px;
}

/* ADD YOUR CUSTOM CSS STYLES BELOW THIS LINE */
/* -----------------------------------------  */


/* Used to style each movie 'card' */
.card {
  /* layout and sizing */
  float: left;
  width: 350px;
  height: 580px;

  /* margins and padding */
  padding-left:10px;
  margin-right:20px;
  margin-bottom:20px;

  /* borders & box shadows */
  box-shadow: 5px 5px 13px 0px rgba(127, 102, 132, 0.68);
  border: 1px solid #999999;
}

/* Required CSS - do not delete!
This CSS ensures that the 'cards' are aligned correctly
In technical terms, it clear floats after the columns
*/
.card:after {
  content: "";
  display: table;
  clear: both;
}
